[key0]
rapidapi_key = k44gm0gtc3mshad0e524k50fdcbfp13deebjsnp0kfuef79cb8
consumer_key = kl50fVhmkleLIyDMfg5WHcqmj
consumer_secret =lP9vrKKUwYExMX8C6Cllp4GBv3Ywsi9fjdkNftP2jbEmo3uMfv

[key1]
rapidapi_key = ld9dc4e762msh0a4720df6pb6ce8p13esftjsna8788g63761a
consumer_key = dc3RXTV7mHiilu5hmjAViAd9K
consumer_secret = ed5LS5qlhfGmcs912plPmppolPwBjsfaafg98YJ4gb2DF1tlid

[key2]
rapidapi_key = ghm205d0b8ms6kd27c33fbh763a961fe6s8ssncdda47s7bf9c
consumer_key = asHias2tgvCOPI48eGE574vb
consumer_secret = sd4P0vFHsfnnMgJN37g3S155rUEC771GegfjLz3fcKUhh5knP9